<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
 <%- include("./partials/header") %> 



 <div>
     <h1 style="margin-bottom: 10px;"><%= g.title %> </h1>
     <p style="margin-left: 30px;"><%= g.body %></p>
     <button class="create" data-id="<%= g._id %>">delete</button>
 </div>


    
    <%- include('./partials/footer') %>
    <script>
        const btn = document.querySelector(".create")
        const value_data = btn.getAttribute("data-id")
        btn.addEventListener("click",function(eo){
            fetch(`/details/${value_data}`,{method:"DELETE"})
            .then((response)=> response.json())
            .then(function(data){
                
                console.log(data);
            }).catch(function(err){
                console.log(err);
            })
        })
    </script>
  </body>
</html>
